.container {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.button-container {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 55rem;
}

.item {
    flex-basis: auto;
    flex: none;
}

.submit-button {
    position: relative;
    margin-top: 1rem;
}