.todo-top-container {
    top: 10px;
    width: 60rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    gap: 20px;
    justify-content: space-between;
    border-style: solid;
    border-color: #ddffff;
}

.todo-container, .sub-todo-container {
    top: 10px;
    width: 60rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    gap: 20px;
    justify-content: flex-start;
    border-style: solid;
    border-color: #ddffff;
}

.sub-todo-container {
    margin-left: 50px;
}

.checkbox-complete {
    border:0px;
    width: 15%;
    height: 1.5rem;
}